#header{
    height: 10%;
    width: 100%;
    background-color: red;
}
#main{
    height: 80%;
    width: 100%;
    background-color: blue;
}
#footer{
    height: 10%;
    width: 100%;
    background-color: red;
}
.response{
    width: fit-content; 
    padding-left: 10px; 
    padding-right: 10px; 
    margin: 0px; 
    border-color:black; 
    border-style: solid; 
    color: black;
    text-align: left;
    margin: 5px;
}